# Homebew Path
# eval "$(/opt/homebrew/bin/brew shellenv)"

# oh-my-posh
# eval "$(oh-my-posh init zsh --config ~/.poshthemes/catppuccin_mocha.omp.json)"
# export PATH=$PATH:/home/gregor/.local/bin
# eval "$(oh-my-posh init zsh)"

# Load ZINIT
# source $HOMEBREW_PREFIX/opt/zinit/zinit.zsh
# source ~/.local/share/zinit/zinit.git/zinit.zsh

# enable zsh history
# HISTFILE=~/.zsh_history
# HISTSIZE=10000
# SAVEHIST=10000
# setopt appendhistory

# ZINIT plugins
# zinit light marlonrichert/zsh-autocomplete
# zinit light zsh-users/zsh-history-substring-search
# zinit light zsh-users/zsh-autosuggestions
# zinit light zsh-users/zsh-syntax-highlighting

# Adjust backward-kill-word for smarter path handling
# WORDCHARS='*?_-.[]~=&;!#$%^(){}<>'

# NVM
# export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
# [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
